<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Dashboard</title>
    <link rel="shortcut icon" href="~/images/favicon.ico" />
    <link rel="stylesheet" href="~/css/libs.min.css">
    <link rel="stylesheet" href="~/css/socialv.css">
    <link rel="stylesheet" href="~/css/customizer.css">
</head>
<body>
    <div class="wrapper">
        <div class="iq-top-navbar">
            <div class="iq-navbar-custom">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="iq-navbar-logo d-flex justify-content-between">
                        <a href="@Url.Action("Dashboard", "Admin")">
                            <img src="~/images/logo.png" class="img-fluid" alt="logo">
                            <span>SocialV Admin</span>
                        </a>
                    </div>
                    <div class="d-flex align-items-center">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="ri-menu-3-line"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto navbar-list align-items-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Dashboard", "Admin")">
                                        <i class="ri-dashboard-line mr-2"></i>Dashboard
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "Home")">
                                        <i class="ri-home-line mr-2"></i>Home
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div id="content-page" class="content-page">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/js/libs.min.js"></script>
    <script src="~/js/slider.js"></script>
    <script src="~/js/masonry.pkgd.min.js"></script>
    <script src="~/js/socialv.js"></script>
    <script src="~/js/customizer.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html> 