<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - SocialClient</title>

    <link rel="shortcut icon" href="~/images/favicon.ico" />
    <link rel="stylesheet" href="~/css/libs.min.css">
    <link rel="stylesheet" href="~/css/socialv.css?v=4.0.0">
    <link rel="stylesheet" href="~/vendor/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/vendor/remixicon/fonts/remixicon.css">
    <link rel="stylesheet" href="~/vendor/vanillajs-datepicker/dist/css/datepicker.min.css">
    <link rel="stylesheet" href="~/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
</head>
<body class="  ">
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
        @await Html.PartialAsync("_SlideBarPartial")
        </div>

        <div class="iq-top-navbar">
            <div class="iq-navbar-custom">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="iq-navbar-logo d-flex justify-content-between">
                    <a href="/home/index">
                            <img src="/images/logo.png" class="img-fluid" alt="">
                            <span>SocialV</span>
                        </a>
                        <div class="iq-menu-bt align-self-center">
                            <div class="wrapper-menu">
                                <div class="main-circle"><i class="ri-menu-line"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="iq-search-bar device-search">
                        <form action="#" class="searchbox">
                            <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                            <input type="text" class="text search-input" placeholder="Search here...">
                        </form>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-label="Toggle navigation">
                        <i class="ri-menu-3-line"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav  ms-auto navbar-list">
                            <li>
                                <a href="/home/index" class="d-flex align-items-center">
                                    <i class="ri-home-line"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="dropdown-toggle" id="group-drop" data-bs-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false"><i class="ri-group-line"></i></a>
                            @await Html.PartialAsync("_FriendPartial")
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="search-toggle   dropdown-toggle" id="notification-drop" data-bs-toggle="dropdown">
                                    <i class="ri-notification-4-line"></i>
                                </a>
                                <div class="sub-drop dropdown-menu" aria-labelledby="notification-drop">
                                    <div class="card shadow-none m-0">
                                        <div class="card-header d-flex justify-content-between bg-primary">
                                            <div class="header-title bg-primary">
                                                <h5 class="mb-0 text-white">All Notifications</h5>
                                            </div>
                                            <small class="badge  bg-light text-dark">4</small>
                                        </div>
                                        <div class="card-body p-0">
                                            <a href="#" class="iq-sub-card">
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded" src="/images/user/01.jpg" alt="">
                                                    </div>
                                                    <div class="ms-3 w-100">
                                                        <h6 class="mb-0 ">Emma Watson Bni</h6>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class="mb-0">95 MB</p>
                                                            <small class="float-right font-size-12">Just Now</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded" src="/images/user/02.jpg" alt="">
                                                    </div>
                                                    <div class="ms-3 w-100">
                                                        <h6 class="mb-0 ">New customer is join</h6>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class="mb-0">Cyst Bni</p>
                                                            <small class="float-right font-size-12">5 days ago</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded" src="/images/user/03.jpg" alt="">
                                                    </div>
                                                    <div class="ms-3 w-100">
                                                        <h6 class="mb-0 ">Two customer is left</h6>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class="mb-0">Cyst Bni</p>
                                                            <small class="float-right font-size-12">2 days ago</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded" src="/images/user/04.jpg" alt="">
                                                    </div>
                                                    <div class="w-100 ms-3">
                                                        <h6 class="mb-0 ">New Mail from Fenny</h6>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class="mb-0">Cyst Bni</p>
                                                            <small class="float-right font-size-12">3 days ago</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="dropdown-toggle" id="mail-drop" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ri-mail-line"></i>
                                </a>
                                <div class="sub-drop dropdown-menu" aria-labelledby="mail-drop">
                                    <div class="card shadow-none m-0">
                                        <div class="card-header d-flex justify-content-between bg-primary">
                                            <div class="header-title bg-primary">
                                                <h5 class="mb-0 text-white">All Message</h5>
                                            </div>
                                            <small class="badge bg-light text-dark">4</small>
                                        </div>
                                        <div class="card-body p-0 ">
                                            <a href="#" class="iq-sub-card">
                                                <div class="d-flex  align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded" src="/images/user/01.jpg" alt="">
                                                    </div>
                                                    <div class=" w-100 ms-3">
                                                        <h6 class="mb-0 ">Bni Emma Watson</h6>
                                                        <small class="float-left font-size-12">13 Jun</small>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded" src="/images/user/02.jpg" alt="">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h6 class="mb-0 ">Lorem Ipsum Watson</h6>
                                                        <small class="float-left font-size-12">20 Apr</small>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded" src="/images/user/03.jpg" alt="">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h6 class="mb-0 ">Why do we use it?</h6>
                                                        <small class="float-left font-size-12">30 Jun</small>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded" src="/images/user/04.jpg" alt="">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h6 class="mb-0 ">Variations Passages</h6>
                                                        <small class="float-left font-size-12">12 Sep</small>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded" src="/images/user/05.jpg" alt="">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h6 class="mb-0 ">Lorem Ipsum generators</h6>
                                                        <small class="float-left font-size-12">5 Dec</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            @await Html.PartialAsync("_ProfileHeaderPartial")
                        </ul>
                    </div>
                </nav>
            </div>
        </div>  
        
        <div class="right-sidebar-mini right-sidebar">
            <div class="right-sidebar-panel p-0">
                <div class="card shadow-none">
                    <div class="card-body p-0">
                        <div class="media-height p-3" data-scrollbar="init">
                            <div class="d-flex align-items-center mb-4">
                                <div class="iq-profile-avatar status-online">
                                    <img class="rounded-circle avatar-50" src="/images/user/01.jpg" alt="">
                                </div>
                                <div class="ms-3">
                                    <h6 class="mb-0">Anna Sthesia</h6>
                                    <p class="mb-0">Just Now</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-4">
                                <div class="iq-profile-avatar status-online">
                                    <img class="rounded-circle avatar-50" src="/images/user/02.jpg" alt="">
                                </div>
                                <div class="ms-3">
                                    <h6 class="mb-0">Paul Molive</h6>
                                    <p class="mb-0">Admin</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-4">
                                <div class="iq-profile-avatar status-online">
                                    <img class="rounded-circle avatar-50" src="/images/user/03.jpg" alt="">
                                </div>
                                <div class="ms-3">
                                    <h6 class="mb-0">Anna Mull</h6>
                                    <p class="mb-0">Admin</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-4">
                                <div class="iq-profile-avatar status-online">
                                    <img class="rounded-circle avatar-50" src="/images/user/04.jpg" alt="">
                                </div>
                                <div class="ms-3">
                                    <h6 class="mb-0">Paige Turner</h6>
                                    <p class="mb-0">Admin</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-4">
                                <div class="iq-profile-avatar status-online">
                                    <img class="rounded-circle avatar-50" src="/images/user/11.jpg" alt="">
                                </div>
                                <div class="ms-3">
                                    <h6 class="mb-0">Bob Frapples</h6>
                                    <p class="mb-0">Admin</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-4">
                                <div class="iq-profile-avatar status-online">
                                    <img class="rounded-circle avatar-50" src="/images/user/02.jpg" alt="">
                                </div>
                                <div class="ms-3">
                                    <h6 class="mb-0">Barb Ackue</h6>
                                    <p class="mb-0">Admin</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-4">
                                <div class="iq-profile-avatar status-online">
                                    <img class="rounded-circle avatar-50" src="/images/user/03.jpg" alt="">
                                </div>
                                <div class="ms-3">
                                    <h6 class="mb-0">Greta Life</h6>
                                    <p class="mb-0">Admin</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-4">
                                <div class="iq-profile-avatar status-away">
                                    <img class="rounded-circle avatar-50" src="/images/user/12.jpg" alt="">
                                </div>
                                <div class="ms-3">
                                    <h6 class="mb-0">Ira Membrit</h6>
                                    <p class="mb-0">Admin</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-4">
                                <div class="iq-profile-avatar status-away">
                                    <img class="rounded-circle avatar-50" src="/images/user/01.jpg" alt="">
                                </div>
                                <div class="ms-3">
                                    <h6 class="mb-0">Pete Sariya</h6>
                                    <p class="mb-0">Admin</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="iq-profile-avatar">
                                    <img class="rounded-circle avatar-50" src="/images/user/02.jpg" alt="">
                                </div>
                                <div class="ms-3">
                                    <h6 class="mb-0">Monty Carlo</h6>
                                    <p class="mb-0">Admin</p>
                                </div>
                            </div>
                        </div>
                        <div class="right-sidebar-toggle bg-primary text-white mt-3">
                            <i class="ri-arrow-left-line side-left-icon"></i>
                            <i class="ri-arrow-right-line side-right-icon"><span class="ms-3 d-inline-block">Close Menu</span></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
        
        <div id="content-page" class="content-page">
            <div class="container">

                @RenderBody()
            </div>
        </div>

    <!-- Wrapper End-->
         @await Html.PartialAsync("_footerPartial")
@await RenderSectionAsync("Scripts", required: false)
<script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/chathub")
            .build();

        connection.on("ReceiveMessage", function (user, message) {
            const chatContent = document.querySelector('.chat-content');
            const messageElement = document.createElement('div');
            messageElement.classList.add('message');
            messageElement.innerHTML = `<strong>${user}:</strong> ${message}`;
            chatContent.appendChild(messageElement);
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
        document.querySelector('.chat-footer form').addEventListener('submit', function (event) {
            event.preventDefault();

            const messageInput = document.querySelector('.chat-footer input');
            const message = messageInput.value;
            const userName = document.getElementById('chat-header-name').textContent;

            connection.invoke("SendMessage", userName, message).catch(function (err) {
                return console.error(err.toString());
            });

            messageInput.value = '';
        });
    </script>
</body>
</html>
